<ul class="list">
    <li *ngFor="let trip of arrTrips">
        <div class="info">
            <div class="picture">
                <figure>
                    <img [src]="trip.picture" alt="Trip user profile picture">
                </figure>
            </div>
            <div>
                <h4><span>Pais: </span>{{ trip.country }}</h4>
                <h5><span>Salida: </span>{{ trip.from }}</h5>
                <h5><span>Regreso: </span>{{ trip.to }}</h5>
                <h5><span>Viajero: </span>{{ trip.username }}</h5>
            </div>
        </div>
        <p>{{ trip.notes }}</p>
    </li>
</ul>
<a class="button-primary" [routerLink]="['/type']" class="publish-button">Publicar un viaje o un capricho</a>
