<app-nav-perfil></app-nav-perfil>
<div class="container login">
    <form class="form" #login="ngForm" (ngSubmit)="onLogin(login.value)">
        <div class="form-control">
            <h5>Nombre de usuario o e-mail</h5>
            <input type="text" name="username" ngModel>
            <span class="small txt-alert m-l-5p name-fail">No se ha encontrado ese nombre</span>
        </div>
        <div class="form-control">
            <h5>Password</h5>
            <input type="password" name="password" ngModel>
            <span class="small txt-alert m-l-5p password-fail">Password incorrecto</span>
        </div>
        <div class="form-control" style="display: none;">
            <label>
                <input type="checkbox" id="registered" checked>
                <span> Recordar mis datos</span>
            </label>
        </div>
        <input type="submit" class="button button-primary button-register" type="submit" value="ENTRAR">
    </form>
</div>