extends ../layout.pug

block content 
    .row
        .col-md-6.offset-md-3.col-12
            form(action="/clientes/create", method="POST")
                .form-group
                    label Nombre 
                    input.form-control(type="text", name="nombre")
                .form-group
                    label Apellidos 
                    input.form-control(type="text", name="apellidos") 
                .form-group
                    label Dirección 
                    input.form-control(type="text", name="direccion") 
                .form-group
                    label Edad 
                    input.form-control(type="text", name="edad") 
                .form-group
                    label Email 
                    input.form-control(type="text", name="email") 
                .form-group
                    label Sexo 
                    input.form-control(type="text", name="sexo") 
                .form-group
                    label Cuota 
                    input.form-control(type="text", name="cuota") 
                input.btn.btn-block.btn-info(type="submit", value="Enviar")