<ul class="list">
    <li >
        <div class="info">
            <div class="picture">
                <figure>
                    <img src="https://e00-telva.uecdn.es/assets/multimedia/imagenes/2019/11/08/15732087888279.jpg" alt="Desire picture">
                </figure>
            </div>
            <div>
                <h4><span>Deseo: </span>Mi deseo</h4>
                <h4><span>Pais: </span>Francia</h4>
                <h5><span>Viajero: </span>UserName</h5>
            </div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis deleniti, dolore, amet ut, odio odit ad voluptate nulla accusantium adipisci quia.</p>
    </li>
</ul>
<a class="button-primary" [routerLink]="['/type']" class="publish-button">Publicar un viaje o un capricho</a>