<ul class="list">
    <li *ngFor="let caprice of arrCaprices">
        <div class="info">
            <div class="picture">
                <figure>
                    <img [src]="caprice.image" alt="Desire picture">
                </figure>
            </div>
            <div>
                <h4><span>Deseo: </span>{{ caprice.title }}</h4>
                <h4><span>Pais: </span>{{ caprice.country }}</h4>
                <h5><span>Viajero: </span>{{ caprice.username}}</h5>
            </div>
        </div>
        <p>{{ caprice.notes }}</p>
    </li>
</ul>

